﻿@model IEnumerable<VoD.Website.Models.CategoryViewModel>

@{
    ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>

<table class="table">
    <tr>
        <th>
            Gatunek
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name) (@item.Count)
        </td>
        <td>
            @Html.ActionLink("Pokaż wszystkie", "ViewCategory", "Category", new { categoryId = item.Id }, null)
        </td>
    </tr>
}

</table>
