﻿@model IEnumerable<VoD.Website.Models.MoviesFromCategoryViewModel>

@{
    ViewBag.Title = "Filmy z wybranej kategorii";
}

<h2>Filmy z wybranej kategorii</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.ActionLink("Więcej", "Description", "Movie", new { movieId=item.Id }, null)
        </td>
    </tr>
}

</table>
