﻿@model IEnumerable<VoD.Website.Models.LatestMovieViewModel>
@{
    ViewBag.Title = "Ostatnie filmy";
}

<div class="jumbotron">
    <h1>Katalog filmów</h1>
    <p class="lead">Baza informacji o filmach.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<h2>Ostatnie filmy</h2>
<div class="row">
    @foreach(var movie in Model)
    {
        <div class="col-md-4">
            <img src="~/img/movies/@(movie.Id).jpg" />
            <h2>@movie.Title</h2>
            <p>@movie.Description</p>
            <p>@Html.ActionLink("Więcej", "Description", "Movie", new { movieId = @movie.Id }, new { @class = "btn btn-default" })</p>
        </div>
    }
</div>