﻿@model IEnumerable<VoD.Core.Actor>

@{
    ViewBag.Title = "Aktorzy";
}

<h2>Aktorzy</h2>

<p>
    @Html.ActionLink("Dodaj nowego", "AddActor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "EditActor", new { actorId=item.Id }) |
            @using (@Html.BeginForm("RemoveActor", "ManageActors", FormMethod.Post, new { @style = "display:inline;" }))
            {
                @Html.AntiForgeryToken()
                <input name="actorId" value="@item.Id" hidden />
                <a class="removePosition">Usuń</a>
            }
        </td>
    </tr>
}

</table>

@section scripts {
    <script src="~/Scripts/helpers.js"></script>
}