﻿@model IEnumerable<VoD.Core.Director>

@{
    ViewBag.Title = "Reżyserzy";
}

<h2>Reżyserzy</h2>

<p>
    @Html.ActionLink("Dodaj nowego", "AddDirector")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "EditDirector", new { directorId=item.Id }) |
            @using (@Html.BeginForm("RemoveDirector", "ManageDirectors", FormMethod.Post, new { @style = "display:inline;" }))
            {
                @Html.AntiForgeryToken()
                <input name="directorId" value="@item.Id" hidden />
                <a class="removePosition">Usuń</a>
            }
        </td>
    </tr>
}

</table>

@section scripts {
    <script src="~/Scripts/helpers.js"></script>
}