﻿@model IEnumerable<VoD.Core.Genre>

@{
    ViewBag.Title = "Gatunki filmowe";
}

<h2>Gatunki filmowe</h2>

<p>
    @Html.ActionLink("Dodaj nowy", "AddGenre")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "EditGenre", new { genreId=item.Id }) |
            @using (@Html.BeginForm("RemoveGenre", "ManageGenres", FormMethod.Post, new { @style = "display:inline;" }))
            {
                @Html.AntiForgeryToken()
                <input name="genreId" value="@item.Id" hidden/>
                <a class="removePosition">Usuń</a>
            }
        </td>
    </tr>
}

</table>

@section scripts {
<script src="~/Scripts/helpers.js"></script>
}