﻿@model IEnumerable<VoD.Core.Movie>

@{
    ViewBag.Title = "Filmy";
}

<h2>Filmy</h2>

<p>
    @Html.ActionLink("Dodaj nowy", "AddMovie")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @foreach(var director in item.Directors)
            {
                <text>@director.FirstName @director.LastName</text>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "EditMovie", new { movieId=item.Id }) |
            @using (@Html.BeginForm("RemoveMovie", "ManageMovies", FormMethod.Post, new { @style = "display:inline;" }))
            {
                @Html.AntiForgeryToken()
                <input name="movieId" value="@item.Id" hidden/>
                <a class="removePosition">Usuń</a>
            }
        </td>
    </tr>
}

</table>

@section scripts {
    <script src="~/Scripts/helpers.js"></script>
}