﻿@{
    ViewBag.Title = "Komentarz";
}

<h2>Dodaj komentarz</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.Title</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                <textarea name="Body" placeholder="Comment"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <select name="Rate">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <input name="movieId" type="hidden"  value="@Model.Id" />
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do filmu", "Description", "Movie", new { movieId = @Model.Id }, null)
</div>
