﻿@model VoD.Website.Models.MovieViewModel
@{
    ViewBag.Title = @Model.Title + " - Opis";
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Title</h2>
        <img src="~/img/movies/@(Model.Id).jpg" />

        <p>@Model.Description</p>

        <p>Reżyseria:
        @foreach(var director in Model.Directors)
        {
            <text>@director.FirstName @director.LastName</text>
        }
        </p>

        <p>Gatunek:
        @foreach(var genre in Model.Genres)
        {
            @genre.Name
        }
        </p>
        
        <p>Rok produkcji: @Model.Year</p>
        
        <div id="cast">
            <p>Obsada:</p>
            <ul>
                @foreach (var actor in Model.Cast)
                {
                    <li>@actor.FirstName @actor.LastName</li>
                }
            </ul>
        </div>
    </div>
</div>

<div id="comments" class="row">
    <h2>Komentarze</h2>
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                <p><b>@comment.Author</b></p>
                <p>@comment.Body</p>
                <p>Ocena: @comment.Rate</p>
                @{ if (User.IsInRole("Administrator"))
                   {
                       using(Html.BeginForm("RemoveComment", "Movie", FormMethod.Post))
                       {
                           @Html.AntiForgeryToken()
                           <input name="commentId" value="@comment.Id" hidden/>
                           <input name="movieId" value="@Model.Id" hidden/>
                           <a class="removePosition">Usuń</a>
                       }
                   }
                }
            </li>
        }
    </ul>
</div>

<a id="addCommentButton">Dodaj komentarz</a>
<div id="addCommentForm" style="display:none">
    @using (Html.BeginForm("Comment", "Movie", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input name="movieId" type="hidden"  value="@Model.Id" />
        
        
        <div class="form-group">
            @Html.TextArea("Body", new { @placeholder = "Komentarz..." })
        </div>
        
        var rateOptionsList = new List<int>(Enumerable.Range(1, 5))
            .Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() });
        <div class="form-group">
            @Html.DropDownList("Rate", rateOptionsList)
        </div>  
        
        <div class="form-group">
            <input type="submit" value="Dodaj komentarz" class="btn btn-default" />
        </div>
    }
</div>

@section scripts{
    <script src="~/Scripts/helpers.js"></script>
}