﻿
@{
    ViewBag.Title = "Panel administracyjny";
}

<h2>Panel administracyjny</h2>

<ul>
    <li>
        @Html.ActionLink("Zarządzaj filmami", "Index", "ManageMovies")
    </li>
    <li>
        @Html.ActionLink("Zarządzaj aktorami", "Index", "ManageActors")
    </li>
    <li>
        @Html.ActionLink("Zarządzaj gatunkami", "Index", "ManageGenres")
    </li>
    <li>
        @Html.ActionLink("Zarządzaj reżyserami", "Index", "ManageDirectors")
    </li>
</ul>